<div class="fieldImg mt-2">
    <div class="row">
        <div class="col-sm-12" style="margin:auto">
            <div class="defenseText"><%= defense["8"] %></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="defenseText" style="text-align:center"><%= defense["7"] %></div>
        </div>
        <div class="col-sm-6">
            <div class="defenseText" style="text-align:center"><%= defense["9"] %></div>
        </div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-sm-6">
            <div class="defenseText" style="text-align:right"><%= defense["6"] %></div>
        </div>
        <div class="col-sm-6">
            <div class="defenseText" style="text-align:left"><%= defense["4"] %></div>
        </div>
    </div>
    <div class="row" style="margin-top:25px">
        <div class="col-sm-6">
            <div class="defenseText" style="text-align:center"><%= defense["5"] %></div>
        </div>
        <div class="col-sm-6">
            <div class="defenseText" style="text-align:center"><%= defense["3"] %></div>
        </div>
    </div>
    <div class="row" style="margin-top:5px">
        <div class="col-sm-12" style="margin:auto">
            <div class="defenseText"><%= defense["1"] %></div>
        </div>
    </div>
    <div class="row" style="margin-top:35px">
        <div class="col-sm-12" style="margin:auto">
            <div class="defenseText"><%= defense["2"] %></div>
        </div>
    </div>
</div>