<%= form_with(model: gameschedule) do |form| %>
  <% if gameschedule.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(gameschedule.errors.count, "error") %> prohibited this gameschedule from being saved:</h2>

      <ul>
        <% gameschedule.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :gamedate, style: "display: block" %>
    <%= form.datetime_field :gamedate %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
