<div id="<%= dom_id history %>">
  <div>
    <strong>Category:</strong>
    <%= history.Category %>
  </div>

  <div>
    <strong>Data:</strong>
    <%= history.Data %>
  </div>

  <div>
    <strong>Start Year:</strong>
    <%= history.YearStart %>
  </div>

  <div>
    <strong>End Year:</strong>
    <%= history.YearEnd %>
  </div>

  <div>
    <strong>Finish:</strong>
    <%= history.Finish %>
  </div>

</div>
