<div class="row">
    <div class="col-sm-12 mx-auto">
      <h2 class="text-center">Statistics for <%= @view.year %>&nbsp;<%= "Playoffs" if @view.playoffs %></h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="btn-group pt-3 pb-1" role="group"  aria-label="...">
            <div class="filter-controls">
              <% if params[:playoffs] == "playoffs" %>
                <%= link_to "Season", statistic_path(@view.year), class: "btn btn-outline-primary" %>
              <% else %>
                <%= link_to "Playoffs", statistic_path(@view.year, "playoffs"), class: "btn btn-outline-primary" %>
              <% end %>
              <%= link_to "Records", records_path, class: "btn btn-outline-primary" %>
            </div>
        </div>
        </div>
    <div class="col-sm-4" style="text-align:center">
        <h2>Pitching Stats</h2>
    </div>
    <div class="col-sm-4" style="text-align:right">
        <div class="btn-group pt-3 pb-1" role="group" aria-label="...">
            <div class="dropdown">
                <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Year <span class="caret"></span>
                </button>
                <div class="dropdown-menu" role="menu">
                     <% (2005..Time.now.year).to_a.reverse.each do |year| %>
                     <% is_active = (params[:year].to_i == year) ? "active" : "" %>
                        <%= link_to year, statistic_path(year, playoffs: params[:playoffs]), class: "dropdown-item #{is_active}" %>
                      <% end %>
                </div>
            </div> 
            <%= link_to "Export", export_path(@view.year, @view.playoffs.present?), class: "btn btn-outline-primary" %>           
        </div>
    </div>
</div>
<div class="row">
    <% if @view.pitching_stats.any? %>
    <div class="col-sm-12"><%= render "shared/pitching_stats", stats: @view.pitching_stats, totals: @view.pitching_totals, display: "Season", all: true %></div>
    <% end %>
</div>
<% if @view.hitting_stats.any? %>
    <div class="row">
        <div class="col-sm-12" style="text-align:center"><h2>Hitting Stats</h2></div>
    </div>
    <div class="row">
        <div class="col-sm-12"><%= render "shared/hitting_stats", stats: @view.hitting_stats, totals: @view.hitting_totals, display: "Season", all: true %></div>
    </div>
<% end %>