<%= form_with(model: player) do |form| %>
  <% if player.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
        <% player.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-sm-3" >
  <div>    
    <%= form.hidden_field :Player_ID, class: "form-control" %>
  </div>

  <div>
    <%= form.label :First_Name, class: "d-block" %>
    <%= form.text_field :First_Name, class: "form-control"  %>
  </div>

  <div>
    <%= form.label :Last_Name, class: "d-block" %>
    <%= form.text_field :Last_Name, class: "form-control"  %>
  </div>

  <div>
    <%= form.label :Current, class: "d-block" %>
    <%= form.checkbox :Current %>
  </div>

  <div>
    <%= form.label :Bats %>
    <%= form.select :Bats, Player.bats.keys.map { |k| [k.capitalize,k] }, { prompt: "-- Select --"}, { class: "form-select" } %>
  </div>

  <div>
    <%= form.label :Throws, class: "d-block" %>
    <%= form.select :Throws, Player.throws.keys.map { |k| [k.capitalize, k] }, { prompt: "-- Select --"}, { class: "form-select" } %>
  </div>

  <div>
    <%= form.label :POS1, class: "d-block" %>
    <%= form.select :POS1, options_for_select(Player::POSITIONS.map { |key, value| [key, key] }),{ prompt: "-- Select --"}, { class: "form-select" } %>
  </div>

  <div>
    <%= form.label :POS2, class: "d-block" %>
    <%= form.select :POS2, options_for_select(Player::POSITIONS.map { |key, value| [key, key] }), { prompt: "-- Select --"}, { class: "form-select" } %>
  </div>

  <div>
    <%= form.label :POS3, class: "d-block" %>
    <%= form.select :POS3, options_for_select(Player::POSITIONS.map { |key, value| [key, key] }), { prompt: "-- Select --"}, { class: "form-select" } %>
  </div>

  <div>
    <%= form.label :Nickname, class: "d-block" %>
    <%= form.text_field :Nickname, class: "form-control"  %>
  </div>

  <div>
    <%= form.label :Hometown, class: "d-block" %>
    <%= form.text_field :Hometown, class: "form-control"  %>
  </div>

  <div>
    <%= form.label :Divorces, class: "d-block" %>
    <%= form.number_field :Divorces, class: "form-control"  %>
  </div>

  <div>
    <%= form.label :DOB, class: "d-block" %>
    <%= form.date_field :DOB, value: player.DOB&.utc&.to_date, class: "form-control"  %>
  </div>

  <div>
    <%= form.label :Height, class: "d-block" %>
    <%= form.number_field :Height, class: "form-control"  %>
  </div>

  <div>
    <%= form.label :Weight, class: "d-block" %>
    <%= form.number_field :Weight, class: "form-control"  %>
  </div>

  <div>
    <%= form.label :Image, class: "d-block" %>
    <%= form.checkbox :Image %>
  </div>

  <div>
    <%= form.label :uniform, class: "d-block" %>
    <%= form.number_field :uniform, class: "form-control"  %>
  </div>

  <div>
    <%= form.label :email, class: "d-block" %>
    <%= form.text_field :email, class: "form-control"  %>
  </div>

  <div class="mt-2">
    <%= form.submit %>
  </div>
</div>
<% end %>
