<div id="<%= dom_id view.player %>" style="color:#800000">
  <div class="row mt-3">
        <div class="col col-sm-3">
            <div class="row">
                <div class="col ml-auto">
                    <%= image_tag view.player_photo_path, class: "img-fluid", alt: view.player.full_name %>
                </div>
            </div>
              <div class="row">
                  <div class="col ml-auto">
                      <label>Awards:</label>
                      <div id="awards">
                        <% if view.awards.any? %>
                          <ul>
                            <% view.awards.each do |award| %>
                              <li><%= award.award %></li>
                            <% end %>
                          </ul>
                        <% else %>
                          <p>No awards</p>
                        <% end %>
                      </div>
                      <% if admin? %>
                        <%= link_to "Add Award", new_player_award_path(view.player), class: "btn btn-primary" %>
                      <% end %>
                  </div>
            </div>
        </div>
        <div class="col col-sm-8 ml-auto">
            <div class="row">
                <div class="col-sm-10"><h3><%= view.full_name %></h3></div>
            </div>
            <div class="row">

                <div class="col col-sm-4"><div><%= Player.human_attribute_name(:hometown) %><span style="margin-left:10px"><%= view.hometown %></span></div></div>
                <div class="col col-sm-4"><div><%= Player.human_attribute_name(:height) %><span style="margin-left:10px"><%= view.height_string %></span></div></div>
                <div class="col col-sm-4"><div><%= Player.human_attribute_name(:weight) %><span style="margin-left:10px"><%= view.weight_string %></span></div></div>

            </div>
            <div class="row mt-2">
                <div class="col col-sm-4"><div><%= content_tag :label, "Positions: " %><span style="margin-left:10px"><%= view.position_string %></span></div></div>
                <div class="col col-sm-4"><div><%= Player.human_attribute_name(:bats) %><span style="margin-left:10px"><%= view.bats %></span></div></div>
                <div class="col col-sm-4"><div><%= Player.human_attribute_name(:throws) %><span style="margin-left:10px"><%= view.throws %></span></div></div>
            </div>
            <div class="row mt-2">
                <div class="col col-sm-4"><div><%= Player.human_attribute_name(:dob) %><span style="margin-left:10px"><%= view.dob.strftime("%m/%d/%Y") %></span></div></div>
                <div class="col col-sm-4"><div><%= Player.human_attribute_name(:divorces) %><span style="margin-left:10px"><%= view.divorces %></span></div></div>
                <div class="col col-sm-4">&nbsp;</div>
            </div>
            <div class="row mt-2">
                <div class="col col-sm-12"><div><%= content_tag :label, "Experience:" %><span style="margin-left:10px"><%= view.years_played %></span></div></div>

            </div>
            <% if @view.career_pitching_stats.any? %>
              <div class="mt-2">
                <div class="col col-sm-11"><h4>Pitching Stats</h4></div>
                <div class="col col-sm-11"><%= render "shared/pitching_stats", stats: view.career_pitching_stats, totals: view.career_pitching_totals, display: "Player", all: false %></div>
              </div>
              <% reset_cycle %>
            <% end %>
            <% if @view.career_hitting_stats.any? %>
              <div class="mt-2">
                <div class="col col-sm-11"><h4>Hitting Stats</h4></div>
                <div class="col col-sm-11"><%= render "shared/hitting_stats", stats: view.career_hitting_stats, totals: view.career_hitting_totals, display: "Player", all: false %></div>
              </div>
            <% end %>
        </div>
    </div>
</div>
