<p style="color: green"><%= notice %></p>

<%= render "player", view: @view %>

<div>
  <% if admin? %>
  <%= link_to "Edit this player", edit_player_path(@player) %> |
  <%= link_to "Add Award", new_player_award_path(@player) %>
  <% end %>
  <%= link_to "Back to players", players_path %>
  
</div>
