<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Electrons" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Electrons">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>    

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="margin-left:25px;margin-right:25px; padding:5px">
    
    <%= yield %>    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.widgets.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
 <script>
     $(document).on("ajaxStart",function () {
         $('#loadingDiv').show();
     })
     $(document).on("ajaxStop",function () {
         $('#loadingDiv').hide();
     })
     document.addEventListener("turbo:load", function() {
         $(".tablesorter").tablesorter({
             theme: '',
             headerTemplate: '{content}',
             cssHeader: 'header',
             cssAsc: 'headerSortUp',
             cssDesc: 'headerSortDown',
             sortInitialOrder: 'desc',
             sortList: [[0, 0]],
             widgets: ['zebra']
         });
         const tabs = document.querySelectorAll('[data-bs-toggle="tab"]');        
         tabs.forEach(tab => {
            tab.addEventListener("shown.bs.tab", function (event) {
            const type = event.target.dataset.type;
            document.getElementById("type_field").value = type;
            });
         });
     });
 </script>
  </body>
</html>